apiVersion: apps/v1
kind: Deployment
metadata:
  name: echo-hydra
spec:
  replicas: 3
  selector:
    matchLabels:
      app: echo
  template:
    metadata:
      labels:
        app: echo
    spec:
      containers:
      - name: echo-container
        image: nginx:alpine
        ports:
        - containerPort: 80
